MONGO_URI=mongodb+srv://pega:pega123@cluster0.bm9aq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=expensetrackerapp
NODE_MAILER_EMAIL=pegaislethal@gmail.com
NODE_MAILER_PASSWORD=dtomicejtdfgiyvv
SESSION_SECRET=expensetrackerapp
PORT=5000