MONGO_URI=mongodb+srv://pega:pega123@cluster0.bm9aq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=expensetrackerapp
NODE_MAILER_EMAIL=pegaislethal@gmail.com
NODE_MAILER_PASSWORD=dtomicejtdfgiyvv
SESSION_SECRET=expensetrackerapp
PORT=5000
CLOUDINARY_CLOUD_NAME=dcfz22r8h
CLOUDINARY_API_KEY=798725621587928
CLOUDINARY_API_SECRET=wKXIjgE60Og_7N_4z62yJ31j_D4